<footer id="footer" class="bg-light mt-5">
  <div class="container-fluid justify-content-between">
    <div class="row gy-5">
      <div class="col-12 col-sm-6 col-md-4 text-center align-items-center">
        <h5 class="text-danger">Fast Links</h5>
        <ul class="list-group">
          <li class="list-group-item list-group-small bg-light border-0"><a class="text-decoration-none text-dark" href="/">Home</a></li>
          <li class="list-group-item list-group-small bg-light border-0"><a class="text-decoration-none text-dark" href="#about-sec">About us</a></li>
          <li class="list-group-item list-group-small bg-light border-0"><a class="text-decoration-none text-dark" href="#latestposts">Blog</a></li>
          <li class="list-group-item list-group-small bg-light border-0"><a class="text-decoration-none text-dark" href="#FAQ">FAQ</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-4 text-center">
        <h5 class="text-danger">Contact</h5>
        <div class="container">
          <ul class="list-group">
            <li class="list-group-item mt-1 list-group-small bg-light border-0"><i class="fa-solid fa-phone"></i> 123 456 789</li>
            <li class="list-group-item list-group-small mt-1 bg-light border-0"><i class="fa-solid fa-envelope"></i> Jewellery@web.com </li>
            <li class="list-group-item list-group-small mt-1 bg-light border-0"><i class="fa-solid fa-location-dot"></i> Poland, Warsaw 26 </li>
            </ul>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 text-center">
        <h5 class="text-danger">Social Media</h5>
        <div class="container">
          <ul class="list-group">
            <li class="list-group-item mt-1 list-group-small bg-light border-0"><i class="fa-brands fa-facebook"></i><a class="text-decoration-none text-dark" href="#"> Facebook</a></li>
            <li class="list-group-item list-group-small mt-1 bg-light border-0"><i class="fa-brands fa-instagram"></i> <a class="text-decoration-none text-dark" href="#"> Instagram</a></li>
            <li class="list-group-item list-group-small mt-1 bg-light border-0"><i class="fa-brands fa-github"></i><a class="text-decoration-none text-dark" href="#"> GitHub</a></li>
      </div>
    </div>
  </div>
  </div>
  <hr class="text-dark mx-4"></hr>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center text-dark">
        <p>Copyright &copy; by JewelShop Inc. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>