<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
  <a href="#" class="navbar-brand fs-4 m-2 h1 text-danger">
    JewelleryShop
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="" class="nav-link fs-5 m-1" aria-current="page">Home</a>
      </li>
      <li class="nav-item">
        <a href="#about-sec" class="nav-link fs-5 m-1">About us</a>
      </li>
      <li class="nav-item">
        <a href="#latestposts" class="nav-link fs-5 m-1">Blog</a>
      </li>
      <li class="nav-item">
        <a href="#FAQ" class="nav-link fs-5 m-1">FAQ</a>
      </li>
    </ul>
  </div>
</div>
</nav>